/* Сброс базовых стилей */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    outline: none;
  }

  /* Общие стили для всего приложения */
 body {
    background: #040c18;
    padding: 0rem 2rem;
    overflow: auto;
  }  
  body.oh {
    overflow: hidden;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }  
  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  a,
  button {
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  a:hover,
  button:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  button:hover {
    background-color: #ae67fa;
  }
  ul li {
    list-style-type: none;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
  h1,
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: "ManropeBold", sans-serif;
    background: linear-gradient(90deg, #8c34eb 1.84%, #ec31d3 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-family: "ManropeBold", sans-serif;
    color: #fff;
    font-size: 24px;
  }
  p {
    font-size: 16px;
    color: #fff;
  }
  .btn {
    display: flex;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .primary-btn {
    background-color: #ff4820;
  }
  .section {
    max-width: 1169px;
    width: 100%;
  }

/* Стиль для рамки загрузки изображения */
  .image-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .dropzone {
    border: 2px dashed #ccc;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }
  .image-preview img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 100%;
    max-height: 400px;
  }